page-contact {
    img{
        margin: auto;
    }
    h3{
        text-align: center;
        text-transform: capitalize;
    }
    ion-avatar:hover{
        background-color:slategray;
    }
    ion-avatar{
        transition: background-color 0.4s ease-in-out;
    }
}
